@import url('https://fonts.googleapis.com/css2?family=Gentium+Book+Plus:ital@1&display=swap');

#fontNew{
    font-family: 'Gentium Book Plus', serif;
    font-size: 2rem !important;
    line-height: 4rem !important;
    text-transform: uppercase !important;
}

body{
    font-family: 'Gentium Book Plus', serif;
    font-size: 2rem !important;
    line-height: 4rem !important;
    text-transform: uppercase !important;
}

.line{
    height: 2rem;
    width: 100%;
    background: red;
}

